<launch>


  <arg name="robot" default="0" doc="sets address for machine tag"/>


  <!-- launchfile is being run directly on a turtlebot -->
  <group if="$(eval arg('robot') == 0)">
    <machine name="turtlebot" address="localhost" />
  </group>

  <!-- launchfile is being run directly on my machine -->
  <group if="$(eval arg('robot') != 0)" >
    <machine name="turtlebot"
      address="turtlebot$(arg robot)"
      env-loader="/home/student/install/env.sh" user="student" >
    </machine>
  </group>

  <node machine="turtlebot" name="serial_node" pkg="rosserial_python" type="serial_node.py" >
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>




</launch>
