<launch>

  <!-- option to use rqt_plot -->
  <arg name="plot_gui" default="false" doc="option to use rqt_plot to show pose error"/>

  <!-- turtle_way -->
  <include file = "$(find tsim)/launch/turtle_pent.launch" pass_all_args="true"/>

  <!-- odometer   -->
  <!-- load params in these are private to the node  -->
  <node name="odometer" pkg="rigid2d" type="odometry_node" output="screen" >
    <rosparam command="load" file="$(find rigid2d)/config/odometer_params.yaml" />
  </node>


  <!-- fake encoders -->
  <node name="fake_diff_encoders" pkg="rigid2d" type="fake_diff_encoders_node" output="screen" >
    <remap from="cmd_vel" to="turtle1/cmd_vel" />
  </node>


  <!-- load model into parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find nuturtle_description)/urdf/diff_drive.urdf.xacro'"/>

  <!-- load physical parameters in to parameter server -->
  <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- rviz is a required package -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find tsim)/config/diff_drive_odom.rviz"/>


</launch>
